In [1]:
#dictionary
dict = {}
print(type(dict))

<class 'dict'>

In [2]:
print(len(dict))

0

In [3]:
# adding elements into dict
dict2 = {}
dict2["a"] = 1
dict2["b"] = 2
dict2["c"] = 3

In [4]:
print(dict2)

{'a': 1, 'b': 2, 'c': 3}

In [5]:
dict2[4] = "def"

In [6]:
print(dict2)

{'a': 1, 'b': 2, 'c': 3, 4: 'def'}

In [7]:
dict2["skills"] = ["python","sql"]

In [8]:
print(dict2)

{'a': 1, 'b': 2, 'c': 3, 4: 'def', 'skills': ['python', 'sql']}

In [9]:
dict2["mis"] = {"nationality" : "Indian" }

In [10]:
print(dict2)

{'a': 1, 'b': 2, 'c': 3, 4: 'def', 'skills': ['python', 'sql'], 'mis': {'nationality': 'Indian'}}

In [11]:
print(len(dict2))

6

In [12]:
print(dict2["a"])

1

In [14]:
print(dict2["mis"]["nationality"])

Indian

In [19]:
print(dict2["skills"][1])

sql

In [20]:
dict2["a"] = 123

In [21]:
print(dict2)

{'a': 123, 'b': 2, 'c': 3, 4: 'def', 'skills': ['python', 'sql'], 'mis': {'nationality': 'Indian'}}

In [22]:
dict2.keys()

dict_keys(['a', 'b', 'c', 4, 'skills', 'mis'])

In [23]:
dict2.values()

dict_values([123, 2, 3, 'def', ['python', 'sql'], {'nationality': 'Indian'}])

In [29]:
keys_list = list(dict2.keys())
values_list = list(dict2.values())
print(keys_list)
print(values_list)

['a', 'b', 'c', 4, 'skills', 'mis']
[123, 2, 3, 'def', ['python', 'sql'], {'nationality': 'Indian'}]

In [33]:
for k,v in dict2.items():
    print("keys of dictionary are :",k)

keys of dictionary are : a
keys of dictionary are : b
keys of dictionary are : c
keys of dictionary are : 4
keys of dictionary are : skills
keys of dictionary are : mis

In [31]:
for k,v in dict2.items():
    print(v)

123
2
3
def
['python', 'sql']
{'nationality': 'Indian'}

In [32]:
dict2.items()

dict_items([('a', 123), ('b', 2), ('c', 3), (4, 'def'), ('skills', ['python', 'sql']), ('mis', {'nationality': 'Indian'})])

In [34]:
dict3 = {'a' : 1, 'b' : 2, 'c' : 3}
dict4 = {'b' : 2, 'c' : 3, 'a' : 1}

dict3 == dict4 #irrespective of position it will check for key value pairs

True

In [36]:
del dict2["a"]

In [37]:
print(dict2)

{'b': 2, 'c': 3, 4: 'def', 'skills': ['python', 'sql'], 'mis': {'nationality': 'Indian'}}

In [39]:
del dict2[4]

In [40]:
print(dict2)

{'b': 2, 'c': 3, 'skills': ['python', 'sql'], 'mis': {'nationality': 'Indian'}}

In [42]:
#check for any key existing in dictionary
key_list = list(dict2.keys())
if "a" in key_list:
    print('yes')
else:
    print("no")

no

In [44]:
string = "   abc   "
string.strip()

'abc'

In [48]:
string = " A - 11 , B - 12 , C - 13"
string.split(" , ")

[' A - 11', 'B - 12', 'C - 13']