In [1]:
l1 = []

In [2]:
type(l1)

list

In [4]:
print("length of list :", len(l1))

length of list : 0

In [5]:
l1.append(1) # adding elements into list

In [6]:
l1.append(2)
l1.append(2)
l1.append(2)
l1.append(3)
l1.append(4)

In [7]:
print(l1)

[1, 2, 2, 2, 3, 4]

In [8]:
l1.append(5,6)

TypeError: list.append() takes exactly one argument (2 given)

In [9]:
l1.append([1,2])

In [10]:
print(l1)

[1, 2, 2, 2, 3, 4, [1, 2]]

In [11]:
l1.append("abc")

In [12]:
print(l1)

[1, 2, 2, 2, 3, 4, [1, 2], 'abc']

In [13]:
print(len(l1))

8

In [23]:
# add numbers from 1 to 100  
# range(0,3)   >>> 0,1,2
# (100) >> 0,...99
l2 = []
for i in range(100):
    l2.append(i)
print(len(l2))

100

In [21]:
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [24]:
l2[::2]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [25]:
list1 = [1,"arjun","hyd"]
list2 = [1,"arjun","hyd"]
list1 == list2

True

In [48]:
list1 = [1,"arjun","hyd"]
list2 = [2,"arjun","hyd"]
list1 == list2

False

In [36]:
# list concatination
list3 = list1 + list2
list3

[1, 'arjun', 'hyd', 2, 'arjun', 'hyd']

In [30]:
list4 = ["1","arjun","hyd","2"]

In [31]:
# how to access elements in list
for i in list4:
    print(i.isdigit())

True
False
False
True

In [32]:
for i in list4:
    print(i)

1
arjun
hyd
2

In [37]:
# index
list3[0]

1

In [38]:
l1

[1, 2, 2, 2, 3, 4, [1, 2], 'abc']

In [40]:
print(l1[6])

[1, 2]

In [41]:
# print every element with out knowing lenth of list
l1[::]

[1, 2, 2, 2, 3, 4, [1, 2], 'abc']

In [45]:
for i in range(2,len(l1)):  # using len of list in range function
    print(i)

2
3
4
5
6
7

In [51]:
list1.extend(list2)

In [52]:
list1

[1, 'arjun', 'hyd', 2, 'arjun', 'hyd', 2, 'arjun', 'hyd', 2, 'arjun', 'hyd']

In [53]:
list1 = [1,"arjun","hyd"]
list2 = [2,"arjun","hyd"]

list4 = list1

In [54]:
list4.extend(list2)

In [55]:
list4

[1, 'arjun', 'hyd', 2, 'arjun', 'hyd']

In [56]:
list4.append(list2)

In [57]:
list4

[1, 'arjun', 'hyd', 2, 'arjun', 'hyd', [2, 'arjun', 'hyd']]

In [59]:
print(len(list4))

7

In [60]:
print(list4[2:6])

['hyd', 2, 'arjun', 'hyd']

In [62]:
print(list4[::3])

[1, 2, [2, 'arjun', 'hyd']]

In [63]:
print(list4[6])

[2, 'arjun', 'hyd']

In [64]:
print(list4[6][2])

hyd

In [65]:
print(list4[::3],list4[6][2])

[1, 2, [2, 'arjun', 'hyd']] hyd

In [66]:
print(list4[::-1])

[[2, 'arjun', 'hyd'], 'hyd', 'arjun', 2, 'hyd', 'arjun', 1]

In [ ]:
list = ["abc1","ab22","abc33"] # print no of digits in every element
abc1 >> 1
ab22 >> 2
abc33 >> 2